@charset "UTF-8";


body, html{
    margin: 0px;
    line-height: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

div.img1{
    position: relative;
    background-image: url('https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image1.jpg');
    height: 100vh;
    opacity: calc(0.70);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.img2{
    position: relative;
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: fixed;
}
div.img3{
    position: relative;
    background-image: url("https://jolly-kalam-23776e.netlify.app/parallaxsite/img/image3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: fixed;

}
div.text1, div.txt2, div.txt3{
    position: absolute;
    letter-spacing: 8px;
    text-transform: uppercase;
    top: 50vh;
    text-align: center;
    width: 100%;
}
span.boder1{
    
    color: white;
    background-color: rgba(0, 0, 0, 0.767);
    font-size: 2em;
    width: 400px;
    padding: 10px;
    
}
span.boder2, span.boder3{
    color: white;
    font-size: 2em;
}
section{
    margin-top: 60px;
    text-align: center;
    padding: 60px;
}
.sectio2{
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
}
