@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
:root{
    --font-Netflix: 'Bebas Neue', cursive;
    --color1: #E50914;
    --color2: #F40612;
    --color3: #000000;
    
}
*{
    font-family: Arial, Helvetica, sans-serif;
   
}

button{
    cursor: pointer;
}


header{
    height: 100vh;
    background-image:  url('../img/img-fundo-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 8px solid #222222;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3rem;
    grid-area: 1rem;
   background-color: #00000098;
}

.logo{
    width: 120px;
}
.hearder-idioma{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
}
.hearder-idioma button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: var(--color1);
    font-size: 1.2rem;
    font-weight: lighter;
}
.hearder-idioma select{
    height: 40px;
    padding: 8px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.596);
    border: 1.2px solid #fff;
    border-radius: 3px;
}
.body-hearder{
    height: 100%;
    background-color: #00000098;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-conteudo{
    padding: 20px;
    width: 50%;
    text-align: center;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-conteudo h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.header-conteudo h2{
    margin-bottom: 1.5rem;
}
.header-conteudo p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.input-form{
    display: flex;
    justify-content: center;
    gap: 1px;
    width: 90%;
}
.input{
    position: relative;
    width: 70%;
}
.input .label{
    position: absolute;
    color: #000000;
    top: 50%;
    left: 2%;
    transform: translate(0,-50%);
    transition: 0.3s;
    color: #000000;
}

.label-focus{
    transition: 0.3s;
    position: absolute;
    top: 5%;
    left: 2%;
    color: #000000;
    font-size: 0.8rem;
}
.input input{
    height: 60px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: black;
    font-size: 1.3rem;
}
.input input:focus{
    
    border: 1px solid lightseagreen;
}

.input-form button {
    width: 30%;
    background-color: var(--color1);
    color: #fff;
    font-size: 1.8rem;
}

.conteiner-sessao{
    background-color: #000000;
    border-bottom: 8px solid #222222;
    padding: 5rem 0;
}

.sessao{
    margin: 0% auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sessao-text{
    width: 50%;
}
.sessao-text h2{
    
    font-size: 3rem;
    margin-bottom: 1rem;
}
.sessao-text p{
    font-size: 1.6rem;
}

.sessao-img{
    width: 50%;
    position: relative;
    margin-bottom: 2rem;
}
.sessao-img img{
    width: 100%;
    position: relative;
    z-index: 1;
}
.sessao-img video{
    position: absolute;
    top: 19%;
    left: 12%;
    width: 75%;
}
.img-mobile{
    position: relative;
}
.baner{
    position: absolute;
    display: flex;
    background-color: black;
    border: 2px solid #7a7979;
    border-radius: 6px;
    justify-content: space-between;
    padding: 10px;
    top: 65%;
    left: 14%;
    z-index: 1;
    width: 70%;
}

.baner-img{
    width: 16%;
    
}
.baner-img img{
    width: 100%;
    height: 100%;
}
.banr-text{
    padding: 10px;
}
.banr-text h2{
    font-size: 1.6rem;
}
.banr-text p{
    font-size: 1rem;
    margin-top: .5rem;
    width: 50%;
    color: rgb(0, 68, 255);
}
.baner-gif{
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.baner-gif img{
    width: 100%;
    
}
#pc{
    top: -18%;
    left: 19%;
    width: 62%;
    height: 100%;
}
.ultima{
    padding: 4rem;
}

.styles-pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styles-pergunta h2{
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.conteiner-perguntas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 2.5rem;
}
.perguntas-resposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 70%;
    gap: 1px;

}
.pergunta,.resposta{
    background-color: #222222;
}
.pergunta{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resposta{
    font-size: 1.6rem;
    padding: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: aparecer 0.5s linear;
    opacity: 1;
}
.aparecer{
    display: flex;
    animation: desaparecer 0.3s linear;
}
.escondido{
    opacity: 0;
    display: none;
}
.animacao{
    animation: desaparecer 0.5s linear;
}
@keyframes aparecer {
    0%{
        transform: translateY(-10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes desaparecer {
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translateY(-10%);
        opacity: 0;
    }
}
.p {
    text-align: center;
    margin-bottom: 1.3rem;
    font-size: 1.2rem;
}
#form-footer{
    width: 60%;
}
.fa-solid{
    color: #7a7979;
}





@media screen and (max-width: 945px) {
    header{
        height: 100%;
    }
    .top{
        padding: 1rem;
    }
    .logo{
        width: 100px;
    }
    .hearder-idioma{
        gap: 1rem;
    }
    .hearder-idioma select{
        height: 35px;
    }
    .hearder-idioma button{
        height: 35px;
    }
    .header-conteudo{
        width: 80%;
    }

    .header-conteudo h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .header-conteudo h2{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    .header-conteudo p{
        margin-bottom: 1rem;
        font-size: 1rem;
    }


    .input {
        width: 100%;
    }

    .input-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        justify-content: center; 
    }
    .input-form button{
        height: 40px;
        width: 50%;
        font-size: 1rem;
        border-radius: 5px;
    }
    .sessao{
        flex-direction: column;
        width: 100%;
    }
    .sessao-text{
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
    .sessao-text p{
        font-size: 1.2rem;
    }
    .sessao-img{
        width: 90%;
    }
    
}
@media screen and (max-width: 807px) {
    .ultima{
        padding: 0;
    }
    .styles-pergunta{
        width: 100%;
    }
    .conteiner-perguntas{
        width: 100%;
    }
    .pergunta{
        font-size: 1rem;
    }
    .resposta{
        font-size: 1rem;
    }
    .perguntas-resposta{
        width: 100%;
    }
    .styles-pergunta h2{
        margin-top: 2rem;
        text-align: center;
    }
    .p{
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }
}

@media  screen and (max-width: 498px) {
    header{
        height: 100%;
    }
    .logo{
        width: 70px;
    }
    .hearder-idioma{
        gap: 0.5rem;
    }
    .hearder-idioma select{
        width: 90px;


    }
    .hearder-idioma button{
        width: 80px;
    }

    .header-conteudo{
        width: 95%;
    }

    .header-conteudo h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        
    }
    .header-conteudo h2{
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
    .header-conteudo p{
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }


    .input {
        width: 100%;
    }

    .input-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center; 
    }
    .input-form button{
        height: 40px;
        font-size: 1rem;
    }
    .sessao{
        flex-direction: column;
        width: 100%;
    }
    .sessao-text{
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
    .sessao-text h2{
        font-size: 1.7rem;
    }
    .sessao-text p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 563px) {
    .baner{
        position: absolute;
        display: flex;
        background-color: black;
        border: 2px solid #7a7979;
        border-radius: 6px;
        justify-content: space-between;
        padding: .4rem;
        top: 65%;
        left: 3%;
        z-index: 1;
        width: 90%;
        height: 40%;
        gap: 0.5rem;
        background-color: #000000;
    }
    
    .baner-img{
        width: 27%;
        height: 100%;
        background-color: blue;
    }
    .baner-img img{
        width: 100%;
    }
    .banr-text{
    }
    .banr-text h2{
        font-size: 100%;
    }
    .banr-text p{
        font-size: 100%;
        color: rgb(0, 81, 255);
    }
    .baner-gif{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .baner-gif img{
        width: 100%;
        
    }
}

@media screen and (max-width: 381px) {
    .top{
        padding: 10px;
    }
    .banr-text h2{
        font-size: .9em;
    }
    .banr-text p{
    font-size: 0.7rem;
       
   }
    
}

@media screen and (max-width: 332px) {
    .banr-text h2{
        font-size: .6em;
    }
    .banr-text p{
    font-size: 0.6rem;
       
   }
}







 