*{
    margin: 0%;
    padding: 0%;
}

body, html{
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
    padding-top: 10px;
}
.fora{
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: aquamarine;
    
}
.inv{
    display: none;
}
.fora > h1{
    padding-bottom: 10px;
    font-size: 2.5rem;
}
p{
    font-size: 2rem;
}
.principal{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;

}
.invisivel{
    display: none;
}
.principal > h1{
    position: absolute;
    top: 3%;
}

.item{
    height: 40px;
    width: 120px;
}

